/* NAVIGATION */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
  
  .header {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  position: relative;
  left: 1.5%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  transition: all 500ms linear;
}

.header:hover {
  letter-spacing: 20px;
}
  
.nav {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.nav * {
  box-sizing: border-box;
}
.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.nav a {
  padding: 0.5em 0;
  color: #686868; 
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.nav a:before,
.nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav a:before {
  top: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: lightblue;
}
.nav a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: black;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.nav a:hover:before,
.nav .current a:before {
  opacity: 1;
  width: 100%;
}
.nav a:hover:after,
.nav .current a:after {
  max-width: 100%;
}

/* BUTTONS */
.diff{
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}


.MStitle {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 0.3em;
    letter-spacing: 8px;
    color: grey;
}
.MStitle:hover {
    color: #000000;
}

body {
  text-align:center;
}

  .center {
    margin-top: 5%;
    margin-left:auto; 
    margin-right:auto;
  }

.newgame {
   font-family: 'Raleway', Arial, sans-serif;
    color: white;
    background-color: lightblue;
    font-size: 30px;
    border: none;
}
.newgame:hover{
   background-color: #87CEFA  ;
}  

/* BOARD */
  .hidden {
    display:none;
}
  .unclicked {
    background-color: lightgrey;
}
  .flagged {
    color: red;
}
  .question {
    color: black;
}
  #board:hover {
    cursor: pointer;

}
  #board.disabled {
    cursor: not-allowed;
}
  .tile {
    font-family: arial;
  font-size: 20px;
    height: 40px;
    width: 40px;
    font-weight: 12px;
    vertical-align: middle;
    text-align: center;
    color: black;
  }

  .marker {
    background-color: lightblue;
  
    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition: -moz-transform 0.4s;
        -ms-transition: -ms-transform 0.4s;
         -o-transition: -o-transform 0.4s;
            transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
  
    -webkit-transform: rotateY( 180deg );
       -moz-transform: rotateY( 180deg );
        -ms-transform: rotateY( 180deg );
         -o-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
  
}
  .mine {
    color: red;
}