/* HEADER AND MENU */  
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.header {
  color: #C73C7C;
  text-align: center;
  position: relative;
  left: 1.5%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  transition: all 500ms linear;
}

* {
  font-family: 'Raleway', Arial, sans-serif;
}



.Glink {
  font-weight: bold;
}

.header:hover {
  letter-spacing: 20px;
}

.nav {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.nav * {
  box-sizing: border-box;
}
.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.nav a {
  padding: 0.5em 0;
  color: #686868; 
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.nav a:before,
.nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav a:before {
  top: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #C73C7C;
}
.nav a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: black;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.nav a:hover:before,
.nav .current a:before {
  opacity: 1;
  width: 100%;
}
.nav a:hover:after,
.nav .current a:after {
  max-width: 100%;
}
body {
  background-color: #FFFFFF;
  padding: 50px 0;
}

.name {
  text-transform: uppercase ;
  text-align: center;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 2.2449%;
}

.projects {
  list-style: none;
  padding: 0;
  margin: 0 -2.2449%;
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.projects li {
  display: inline-block;
  vertical-align: top;
  margin: 45px 2.2449% 0 2.34694%;
  width: 20.40816%;
}
.projects a {
  text-decoration: none;
  color: #888;
  display: block;
  font-size: 16px;
}
.projects a img {
  display: block;
  max-width: 100%;
  height: auto !important;
}
.projects .project-label {
  display: block;
  margin: 5px 0 10px;
  text-align: center;
}

.project-label:hover {
  color: black;
}

.projects .current a {
  color: #000;
}

.projects .current a:after {
  content: "";
  display: table;
  border: 10px solid;
  border-top: none;
  border-color: #333 transparent;
  margin: auto;
}

.projects .current a img, .projects .current a .project-label {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.projects .current a .project-label {
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

h3 {
  font-size: 16px;
}

.projects .details {
  font-size: 16px;
  display: none;
  position: absolute;
  background: #444;
  box-shadow: inset 0 10px 20px 5px #333;
  color: #ddd;
  right: 2.2449%;
  left: 2.2449%;
  padding: 20px;
  overflow: hidden;
}
.projects .details img {
  float: right;
  margin-left: 20px;
  width: 53.19149%;
  height: auto !important;
}
.projects .details .text {
  overflow: hidden;
}

@media only screen and (max-width: 735px) {
  .container {
    padding: 2.9932%;
  }

  .projects {
    margin: 0 -2.9932%;
  }
  .projects li {
    margin: 45px 2.9932% 0 3.12925%;
    width: 27.21088%;
  }
}
@media only screen and (max-width: 490px) {
  .container {
    padding: 4.4898%;
  }

  .projects {
    margin: 0 -4.4898%;
  }
  .projects li {
    margin: 45px 4.4898% 0 4.69388%;
    width: 40.81633%;
  }
  .projects .details img {
    float: none;
    width: 100%;
    margin: 0;
  }
}

.place:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.place {
  opacity: 0.7;
}

.place:hover {
  opacity: 1;
}
