@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
   
  .header {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  position: relative;
  left: 1.5%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  transition: all 500ms linear;
}

.header:hover {
  letter-spacing: 20px;
}
  
.nav {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.nav * {
  box-sizing: border-box;
}
.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.nav a {
  padding: 0.5em 0;
  color: #686868; 
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.nav a:before,
.nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav a:before {
  top: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: lightblue;
}
.nav a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: black;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.nav a:hover:before,
.nav .current a:before {
  opacity: 1;
  width: 100%;
}
.nav a:hover:after,
.nav .current a:after {
  max-width: 100%;
}
/* Demo purposes only */
body {
  background-color: #FFFFFF;
  padding: 50px 0;
}

    /* UNIVERSAL STYLES */

.center {
  margin-right: auto;
  margin-left: auto;
}

.italic {
  font-style: italic;
  text-decoration: underline;
}


/* ELEMENT STYLES */

h1,
h4 {
  text-align: center;
  font-family: sans-serif;
  color: #666666;
  border: 0;
}

p {
  text-align: center;
  font-family: sans-serif;
  line-height: 16pt;
  color: #666666;
}

.button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#restart {
  font-size: 12pt;
  color: #666666;
  background-color: #dedede;
  padding: 5px 15px 5px 15px;
}


/* BOARD STYLES */

#board-outer {
  height: 350px;
  width: 350px;
  background-color: none;
  overflow: hidden;
}

#board {
  width: 354px;
  height: 354px;
  background-color: none;
  border-spacing: 0;
  margin-left: -2px;
  margin-top: -2px;
}

td {
  height: 116px;
  width: 116px;
  text-align: center;
  font-family: sans-serif;
  font-size: 40pt;
  border-collapse: collapse;
  border: 2px solid #B9E9F0;
  text-transform: uppercase;
  color: #999999;
}

.x {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.o {
  width: 100%;
  height: 100%;
  background-color: red;
}

